<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>compilestr</title>
    <link rel="stylesheet" type="text/css" href="csound.css" />
    <link rel="stylesheet" type="text/css" href="syntax-highlighting.css" />
    <meta name="generator" content="DocBook XSL Stylesheets V1.79.1" />
    <link rel="home" href="index.html" title="The Canonical Csound Reference Manual" />
    <link rel="up" href="OpcodesTop.html" title="Orchestra Opcodes and Operators" />
    <link rel="prev" href="compileorc.html" title="compileorc" />
    <link rel="next" href="compress.html" title="compress" />
  </head>
  <body>
    <div class="navheader">
      <table width="100%" summary="Navigation header">
        <tr>
          <th colspan="3" align="center">compilestr</th>
        </tr>
        <tr>
          <td width="20%" align="left"><a accesskey="p" href="compileorc.html">Prev</a> </td>
          <th width="60%" align="center">Orchestra Opcodes and Operators</th>
          <td width="20%" align="right"> <a accesskey="n" href="compress.html">Next</a></td>
        </tr>
      </table>
      <hr />
    </div>
    <div class="refentry">
      <a id="compilestr"></a>
      <div class="titlepage"></div>
      <a id="Indexcompilestr" class="indexterm"></a>
      <div class="refnamediv">
        <h2>
          <span class="refentrytitle">compilestr</span>
        </h2>
        <p>compilestr — 
      compiles a new orchestra passed in as an ASCII string
    </p>
      </div>
      <div class="refsect1">
        <a id="idm41807"></a>
        <h2>Description</h2>
        <p>
      Compilestr will compile one or more instruments at init time, which will be added to the running engine. In case of
existing instrument numbers or names, these will be replaced, but any instance still running of the old instrument
definition will still perform until it terminates. Only new instances will use the new definition.
Multi-line strings are accepted, using {{  }} to enclose the string.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm41810"></a>
        <h2>Syntax</h2>
        <pre class="synopsis">ires <span class="command"><strong>compilestr</strong></span> Sorch</pre>
      </div>
      <div class="refsect1">
        <a id="idm41814"></a>
        <h2>Initialization</h2>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">Sorch</span>”</span></em></span> --  a string (in double-quotes or enclosed by {{ }}) containing one or more instruments.
</p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">ires</span>”</span></em></span> --  returns 0 if compilation was successful, or -1 if not.
</p>
      </div>
      <div class="refsect1">
        <a id="idm41822"></a>
        <h2>Examples</h2>
        <p>
      Here is an example of the compilestr opcode. It uses the file <a class="ulink" href="examples/compilestr.csd" target="_top"><em class="citetitle">compilestr.csd</em></a>.
      </p>
        <div class="example">
          <a id="idm41827"></a>
          <p class="title">
            <strong>Example 146. Example of the compilestr opcode.</strong>
          </p>
          <div class="example-contents">
            <p>See the sections <a class="link" href="UsingRealTime.html" title="Real-Time Audio"><em class="citetitle">Real-time Audio</em></a> and <a class="link" href="CommandFlags.html" title="Csound command line"><em class="citetitle">Command Line Flags</em></a> for more information on using command line flags.</p>
            <div class="refsect1">
              <a id="idm41834"></a>
              <pre class="programlisting">
<span class="nt">&lt;CsoundSynthesizer&gt;</span>
<span class="nt">&lt;CsOptions&gt;</span>
-o dac -d
<span class="nt">&lt;/CsOptions&gt;</span>
<span class="nt">&lt;CsInstruments&gt;</span>
<span class="vg">sr</span> <span class="o">=</span> <span class="mi">44100</span>
<span class="vg">nchnls</span> <span class="o">=</span> <span class="mi">1</span>
<span class="vg">ksmps</span> <span class="o">=</span> <span class="mi">32</span>
<span class="vg">0dbfs</span> <span class="o">=</span> <span class="mi">1</span>

<span class="kd">instr</span> <span class="nf">1</span>

 <span class="c1">;will fail because of wrong code</span>
i<span class="n">res</span> <span class="nb">compilestr</span> <span class="s">{{
instr 2 
a1 oscilb p4, p5, 0
out a1 
endin 
}}</span>
<span class="nb">print</span> i<span class="n">res</span> <span class="c1">; returns -1 because not successfull</span>

 <span class="c1">;will compile ...</span>
i<span class="n">res</span> <span class="nb">compilestr</span> <span class="s">{{
instr 2 
a1 oscils p4, p5, 0
out a1 
endin 
}}</span>
<span class="nb">print</span> i<span class="n">res</span> <span class="c1">; ... and returns 0</span>

 <span class="c1">;call the new instrument</span>
 <span class="c1">;(note that the overall performance is extended)</span>
<span class="nb">scoreline_i</span> <span class="err">"i</span> <span class="err">2</span> <span class="err">0</span> <span class="err">3</span> <span class="err">.2</span> <span class="err">415"</span>

<span class="kd">endin</span>

<span class="nt">&lt;/CsInstruments&gt;</span>
<span class="nt">&lt;CsScore&gt;</span>
<span class="nb">i</span><span class="mi">1</span> <span class="mi">0</span> <span class="mi">1</span>
<span class="nt">&lt;/CsScore&gt;</span>
<span class="nt">&lt;/CsoundSynthesizer&gt;</span>
</pre>
            </div>
          </div>
        </div>
        <p><br class="example-break" />
    </p>
      </div>
      <div class="refsect1">
        <a id="idm41886"></a>
        <h2>See also</h2>
        <p>
      <a class="link" href="event.html" title="event"><em class="citetitle">event</em></a>,
      <a class="link" href="event_i.html" title="event_i"><em class="citetitle">event_i</em></a>,
      <a class="link" href="schedule.html" title="schedule"><em class="citetitle">schedule</em></a>,
      <a class="link" href="schedwhen.html" title="schedwhen"><em class="citetitle">schedwhen</em></a>,
      <a class="link" href="schedkwhen.html" title="schedkwhen"><em class="citetitle">schedkwhen</em></a>,
      <a class="link" href="schedkwhennamed.html" title="schedkwhennamed"><em class="citetitle">schedkwhennamed</em></a>
    </p>
      </div>
      <div class="refsect1">
        <a id="idm41901"></a>
        <h2>Credits</h2>
        <p>Author: Victor Lazzarini, 2013 </p>
      </div>
    </div>
    <div class="navfooter">
      <hr />
      <table width="100%" summary="Navigation footer">
        <tr>
          <td width="40%" align="left"><a accesskey="p" href="compileorc.html">Prev</a> </td>
          <td width="20%" align="center">
            <a accesskey="u" href="OpcodesTop.html">Up</a>
          </td>
          <td width="40%" align="right"> <a accesskey="n" href="compress.html">Next</a></td>
        </tr>
        <tr>
          <td width="40%" align="left" valign="top">compileorc </td>
          <td width="20%" align="center">
            <a accesskey="h" href="index.html">Home</a>
          </td>
          <td width="40%" align="right" valign="top"> compress</td>
        </tr>
      </table>
    </div>
  </body>
</html>
