<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>faustgen</title>
    <link rel="stylesheet" type="text/css" href="csound.css" />
    <link rel="stylesheet" type="text/css" href="syntax-highlighting.css" />
    <meta name="generator" content="DocBook XSL Stylesheets V1.79.1" />
    <link rel="home" href="index.html" title="The Canonical Csound Reference Manual" />
    <link rel="up" href="OpcodesTop.html" title="Orchestra Opcodes and Operators" />
    <link rel="prev" href="faustctl.html" title="faustctl" />
    <link rel="next" href="faustplay.html" title="faustplay" />
  </head>
  <body>
    <div class="navheader">
      <table width="100%" summary="Navigation header">
        <tr>
          <th colspan="3" align="center">faustgen</th>
        </tr>
        <tr>
          <td width="20%" align="left"><a accesskey="p" href="faustctl.html">Prev</a> </td>
          <th width="60%" align="center">Orchestra Opcodes and Operators</th>
          <td width="20%" align="right"> <a accesskey="n" href="faustplay.html">Next</a></td>
        </tr>
      </table>
      <hr />
    </div>
    <div class="refentry">
      <a id="faustgen"></a>
      <div class="titlepage"></div>
      <a id="Indexfaustgen" class="indexterm"></a>
      <div class="refnamediv">
        <h2>
          <span class="refentrytitle">faustgen</span>
        </h2>
        <p>faustgen — 
      Compiles, Instantiates and runs a compiled Faust program.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62259"></a>
        <h2>Description</h2>
        <p>Plugin opcode in faustcsound.</p>
        <p>
      Faustgen will invoke the just-in-time compiler, instantiate and run a Faust program.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62263"></a>
        <h2>Syntax</h2>
        <pre class="synopsis"><span class="command"><strong>ihandle,a1[,a2,...] faustgen</strong></span> SCode[,ain1,...] </pre>
      </div>
      <div class="refsect1">
        <a id="idm62267"></a>
        <h2>Initialization</h2>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">Scode</span>”</span></em></span> --  a string containing a Faust program.
</p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">ihandle</span>”</span></em></span> -- a handle to the Faust DSP instance, which can be used to access
its controls with faustctl.
</p>
      </div>
      <div class="refsect1">
        <a id="idm62275"></a>
        <h2>Performance</h2>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">ain1,...</span>”</span></em></span> -- input signals
    </p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">a1,...</span>”</span></em></span> -- output signals
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62283"></a>
        <h2>Examples</h2>
        <p>
      Here is an example of the faustgen opcode. It uses the file <a class="ulink" href="examples/faustgen.csd" target="_top"><em class="citetitle">faustgen.csd</em></a>.
      </p>
        <div class="example">
          <a id="idm62288"></a>
          <p class="title">
            <strong>Example 271. Example of the faustgen opcode.</strong>
          </p>
          <div class="example-contents">
            <p>See the sections <a class="link" href="UsingRealTime.html" title="Real-Time Audio"><em class="citetitle">Real-time Audio</em></a> and <a class="link" href="CommandFlags.html" title="Csound command line"><em class="citetitle">Command Line Flags</em></a> for more information on using command line flags.</p>
            <div class="refsect1">
              <a id="idm62295"></a>
              <pre class="programlisting">
<span class="nt">&lt;CsoundSynthesizer&gt;</span>
<span class="nt">&lt;CsOptions&gt;</span>
-odac
<span class="nt">&lt;/CsOptions&gt;</span>
<span class="nt">&lt;CsInstruments&gt;</span>
<span class="kd">instr</span> <span class="nf">1</span>
 a<span class="n">in1</span> <span class="nb">oscili</span> <span class="vg">0dbfs</span><span class="o">/</span><span class="mi">2</span><span class="p">,</span> <span class="mi">440</span>
 i<span class="n">dsp</span><span class="p">,</span>a<span class="n">1</span> <span class="nb">faustgen</span> <span class="s">{{
   gain = hslider("vol",1,0,1,0.01);
   process = (_ * gain); 
  }}</span><span class="p">,</span> a<span class="n">in1</span>
 k<span class="n">1</span> <span class="nb">line</span>  <span class="mi">0</span><span class="p">,</span> <span class="vi">p3</span><span class="p">,</span> <span class="mi">1</span>
 <span class="nb">faustctl</span> i<span class="n">dsp</span><span class="p">,</span> <span class="s">"vol"</span><span class="p">,</span> k<span class="n">1</span>
   <span class="nb">out</span> a<span class="n">1</span>
<span class="kd">endin</span>
<span class="nt">&lt;/CsInstruments&gt;</span>
<span class="nt">&lt;CsScore&gt;</span>
<span class="nb">i</span><span class="mi">1</span> <span class="mi">0</span> <span class="mi">10</span>
<span class="nt">&lt;/CsScore&gt;</span>
<span class="nt">&lt;/CsoundSynthesizer&gt;</span>
</pre>
            </div>
          </div>
        </div>
        <p><br class="example-break" />
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62341"></a>
        <h2>Credits</h2>
        <p>Author: Victor Lazzarini, 2013 </p>
      </div>
    </div>
    <div class="navfooter">
      <hr />
      <table width="100%" summary="Navigation footer">
        <tr>
          <td width="40%" align="left"><a accesskey="p" href="faustctl.html">Prev</a> </td>
          <td width="20%" align="center">
            <a accesskey="u" href="OpcodesTop.html">Up</a>
          </td>
          <td width="40%" align="right"> <a accesskey="n" href="faustplay.html">Next</a></td>
        </tr>
        <tr>
          <td width="40%" align="left" valign="top">faustctl </td>
          <td width="20%" align="center">
            <a accesskey="h" href="index.html">Home</a>
          </td>
          <td width="40%" align="right" valign="top"> faustplay</td>
        </tr>
      </table>
    </div>
  </body>
</html>
