<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>faustcompile</title>
    <link rel="stylesheet" type="text/css" href="csound.css" />
    <link rel="stylesheet" type="text/css" href="syntax-highlighting.css" />
    <meta name="generator" content="DocBook XSL Stylesheets V1.79.1" />
    <link rel="home" href="index.html" title="The Canonical Csound Reference Manual" />
    <link rel="up" href="OpcodesTop.html" title="Orchestra Opcodes and Operators" />
    <link rel="prev" href="faustaudio.html" title="faustaudio" />
    <link rel="next" href="faustdsp.html" title="faustdsp" />
  </head>
  <body>
    <div class="navheader">
      <table width="100%" summary="Navigation header">
        <tr>
          <th colspan="3" align="center">faustcompile</th>
        </tr>
        <tr>
          <td width="20%" align="left"><a accesskey="p" href="faustaudio.html">Prev</a> </td>
          <th width="60%" align="center">Orchestra Opcodes and Operators</th>
          <td width="20%" align="right"> <a accesskey="n" href="faustdsp.html">Next</a></td>
        </tr>
      </table>
      <hr />
    </div>
    <div class="refentry">
      <a id="faustcompile"></a>
      <div class="titlepage"></div>
      <a id="Indexfaustcompile" class="indexterm"></a>
      <div class="refnamediv">
        <h2>
          <span class="refentrytitle">faustcompile</span>
        </h2>
        <p>faustcompile — 
      Invokes the just-in-time compiler to produce a instantiable DSP process from a Faust program.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm61979"></a>
        <h2>Description</h2>
        <p>Plugin opcode in faustcsound.</p>
        <p>
      Faustcompile will compile a Faust program from a string, controlled by various arguments.
      Multi-line strings are accepted, using {{  }} to enclose the string.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm61983"></a>
        <h2>Syntax</h2>
        <pre class="synopsis"><span class="command"><strong>ihandle faustcompile</strong></span> Scode, Sargs[,iasync, istacksize]  </pre>
      </div>
      <div class="refsect1">
        <a id="idm61987"></a>
        <h2>Initialization</h2>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">Scode</span>”</span></em></span> --  a string (in double-quotes or enclosed by {{ }}) containing a Faust program.
</p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">Sargs</span>”</span></em></span> --  a string (in double-quotes or enclosed by {{ }}) containing Faust compiler args.
    </p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">iasync</span>”</span></em></span> -- run the code
      asynchronously, non-blocking, (iasync=1), or
      blocking mode (iasync=0). Defaults to 1.
</p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">istacksize</span>”</span></em></span> --  size of
      the compiler thread stack in MB (defaults to 1).
</p>
      </div>
      <div class="refsect1">
        <a id="idm62001"></a>
        <h2>Examples</h2>
        <p>
      Here is an example of the faustcompile opcode. It uses the file <a class="ulink" href="examples/faustcompile.csd" target="_top"><em class="citetitle">faustcompile.csd</em></a>.
      </p>
        <div class="example">
          <a id="idm62006"></a>
          <p class="title">
            <strong>Example 268. Example of the faustcompile opcode.</strong>
          </p>
          <div class="example-contents">
            <p>See the sections <a class="link" href="UsingRealTime.html" title="Real-Time Audio"><em class="citetitle">Real-time Audio</em></a> and <a class="link" href="CommandFlags.html" title="Csound command line"><em class="citetitle">Command Line Flags</em></a> for more information on using command line flags.</p>
            <div class="refsect1">
              <a id="idm62013"></a>
              <pre class="programlisting">
<span class="nt">&lt;CsoundSynthesizer&gt;</span>
<span class="nt">&lt;CsOptions&gt;</span>
-odac
<span class="nt">&lt;/CsOptions&gt;</span>
<span class="nt">&lt;CsInstruments&gt;</span>
<span class="kd">instr</span> <span class="nf">1</span>
 a<span class="n">1</span> <span class="nb">rand</span> <span class="vg">0dbfs</span><span class="o">/</span><span class="mi">4</span>
 a<span class="n">2</span> <span class="nb">oscili</span> <span class="vg">0dbfs</span><span class="o">/</span><span class="mi">4</span><span class="p">,</span> <span class="mi">440</span>
 i<span class="n">handle</span> <span class="nb">faustcompile</span> <span class="s">"process=+;"</span><span class="p">,</span> <span class="s">"-vec -lv 1"</span>
 i<span class="n">dsp</span><span class="p">,</span>a<span class="n">sig</span> <span class="nb">faustaudio</span> i<span class="n">handle</span><span class="p">,</span>a<span class="n">1</span><span class="p">,</span>a<span class="n">2</span>
   <span class="nb">out</span> a<span class="n">sig</span>
<span class="kd">endin</span>
<span class="nt">&lt;/CsInstruments&gt;</span>
<span class="nt">&lt;CsScore&gt;</span>
<span class="nb">i</span><span class="mi">1</span> <span class="mi">0</span> <span class="mi">10</span>
<span class="nt">&lt;/CsScore&gt;</span>
<span class="nt">&lt;/CsoundSynthesizer&gt;</span>
</pre>
            </div>
          </div>
        </div>
        <p><br class="example-break" />
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62058"></a>
        <h2>Credits</h2>
        <p>Author: Victor Lazzarini, 2013 </p>
      </div>
    </div>
    <div class="navfooter">
      <hr />
      <table width="100%" summary="Navigation footer">
        <tr>
          <td width="40%" align="left"><a accesskey="p" href="faustaudio.html">Prev</a> </td>
          <td width="20%" align="center">
            <a accesskey="u" href="OpcodesTop.html">Up</a>
          </td>
          <td width="40%" align="right"> <a accesskey="n" href="faustdsp.html">Next</a></td>
        </tr>
        <tr>
          <td width="40%" align="left" valign="top">faustaudio </td>
          <td width="20%" align="center">
            <a accesskey="h" href="index.html">Home</a>
          </td>
          <td width="40%" align="right" valign="top"> faustdsp</td>
        </tr>
      </table>
    </div>
  </body>
</html>
