<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>faustdsp</title>
    <link rel="stylesheet" type="text/css" href="csound.css" />
    <link rel="stylesheet" type="text/css" href="syntax-highlighting.css" />
    <meta name="generator" content="DocBook XSL Stylesheets V1.79.1" />
    <link rel="home" href="index.html" title="The Canonical Csound Reference Manual" />
    <link rel="up" href="OpcodesTop.html" title="Orchestra Opcodes and Operators" />
    <link rel="prev" href="faustcompile.html" title="faustcompile" />
    <link rel="next" href="faustctl.html" title="faustctl" />
  </head>
  <body>
    <div class="navheader">
      <table width="100%" summary="Navigation header">
        <tr>
          <th colspan="3" align="center">faustdsp</th>
        </tr>
        <tr>
          <td width="20%" align="left"><a accesskey="p" href="faustcompile.html">Prev</a> </td>
          <th width="60%" align="center">Orchestra Opcodes and Operators</th>
          <td width="20%" align="right"> <a accesskey="n" href="faustctl.html">Next</a></td>
        </tr>
      </table>
      <hr />
    </div>
    <div class="refentry">
      <a id="faustdsp"></a>
      <div class="titlepage"></div>
      <a id="Indexfaustdsp" class="indexterm"></a>
      <div class="refnamediv">
        <h2>
          <span class="refentrytitle">faustdsp</span>
        </h2>
        <p>faustdsp — 
      Instantiates a Faust program.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62071"></a>
        <h2>Description</h2>
        <p>Plugin opcode in faustcsound.</p>
        <p>
      Faustdsp will instantiate a Faust program compiled with faustcompile.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62075"></a>
        <h2>Syntax</h2>
        <pre class="synopsis"><span class="command"><strong>ihandle faustdsp</strong></span> ifac </pre>
      </div>
      <div class="refsect1">
        <a id="idm62079"></a>
        <h2>Initialization</h2>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">ifac</span>”</span></em></span> --  a handle to a compiled Faust program, produced by faustcompile.
</p>
        <p>
      <span class="emphasis"><em><span class="quote">“<span class="quote">ihandle</span>”</span></em></span> -- a handle to the
      Faust DSP instance, which can be used to run the program with
      faustplay and access
its controls with faustctl.
</p>
      </div>
      <div class="refsect1">
        <a id="idm62087"></a>
        <h2>Examples</h2>
        <p>
      Here is an example of the faustdsp opcode. It uses the file <a class="ulink" href="examples/faustdsp.csd" target="_top"><em class="citetitle">faustdsp.csd</em></a>.
      </p>
        <div class="example">
          <a id="idm62092"></a>
          <p class="title">
            <strong>Example 269. Example of the faustdsp opcode.</strong>
          </p>
          <div class="example-contents">
            <p>See the sections <a class="link" href="UsingRealTime.html" title="Real-Time Audio"><em class="citetitle">Real-time Audio</em></a> and <a class="link" href="CommandFlags.html" title="Csound command line"><em class="citetitle">Command Line Flags</em></a> for more information on using command line flags.</p>
            <div class="refsect1">
              <a id="idm62099"></a>
              <pre class="programlisting">
<span class="nt">&lt;CsoundSynthesizer&gt;</span>
<span class="nt">&lt;CsOptions&gt;</span>
-d -odac
<span class="nt">&lt;/CsOptions&gt;</span>
<span class="nt">&lt;CsInstruments&gt;</span>
<span class="vg">nchnls</span><span class="o">=</span> <span class="mi">1</span>

gi<span class="n">ph</span> <span class="nb">faustcompile</span> <span class="s">{{
SR = 44100;
decimal(a) = a - floor(a);
freq = hslider("freq", 0, -20000, 20000, 1);
incr(fr) =  fr / float(SR);
phasor(fr,ph) =  incr(fr) : (+ : decimal) ~ _ :
+(ph) : decimal;
process = phasor(freq,0);
}}</span><span class="p">,</span> <span class="s">"-vec -lv 1"</span>

<span class="kd">instr</span> <span class="nf">1</span>
k<span class="n">b1</span> <span class="o">=</span> <span class="vi">p5</span>
i<span class="n">b</span> <span class="nb">faustdsp</span> gi<span class="n">ph</span>
<span class="nb">faustctl</span> i<span class="n">b</span><span class="p">,</span><span class="s">"freq"</span><span class="p">,</span>k<span class="n">b1</span>
a<span class="n">sig</span> <span class="nb">faustplay</span> i<span class="n">b</span>
<span class="nb">out</span> <span class="nb">sin</span><span class="p">(</span><span class="mi">2</span><span class="o">*</span><span class="cp">$M_PI</span><span class="o">*</span>a<span class="n">sig</span><span class="p">)</span><span class="o">*</span><span class="vi">p4</span><span class="o">*</span><span class="vg">0dbfs</span>
<span class="kd">endin</span>


<span class="nt">&lt;/CsInstruments&gt;</span>
<span class="nt">&lt;CsScore&gt;</span>
<span class="nb">i</span><span class="mi">1</span> <span class="mi">0</span> <span class="mi">1</span> <span class="mf">0.5</span> <span class="mi">150</span>
<span class="nt">&lt;/CsScore&gt;</span>
<span class="nt">&lt;/CsoundSynthesizer&gt;</span>
</pre>
            </div>
          </div>
        </div>
        <p><br class="example-break" />
    </p>
      </div>
      <div class="refsect1">
        <a id="idm62154"></a>
        <h2>Credits</h2>
        <p>Author: Victor Lazzarini, 2018 </p>
      </div>
    </div>
    <div class="navfooter">
      <hr />
      <table width="100%" summary="Navigation footer">
        <tr>
          <td width="40%" align="left"><a accesskey="p" href="faustcompile.html">Prev</a> </td>
          <td width="20%" align="center">
            <a accesskey="u" href="OpcodesTop.html">Up</a>
          </td>
          <td width="40%" align="right"> <a accesskey="n" href="faustctl.html">Next</a></td>
        </tr>
        <tr>
          <td width="40%" align="left" valign="top">faustcompile </td>
          <td width="20%" align="center">
            <a accesskey="h" href="index.html">Home</a>
          </td>
          <td width="40%" align="right" valign="top"> faustctl</td>
        </tr>
      </table>
    </div>
  </body>
</html>
