<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>system</title>
    <link rel="stylesheet" type="text/css" href="csound.css" />
    <link rel="stylesheet" type="text/css" href="syntax-highlighting.css" />
    <meta name="generator" content="DocBook XSL Stylesheets V1.79.1" />
    <link rel="home" href="index.html" title="The Canonical Csound Reference Manual" />
    <link rel="up" href="OpcodesTop.html" title="Orchestra Opcodes and Operators" />
    <link rel="prev" href="syncphasor.html" title="syncphasor" />
    <link rel="next" href="tab.html" title="tab" />
  </head>
  <body>
    <div class="navheader">
      <table width="100%" summary="Navigation header">
        <tr>
          <th colspan="3" align="center">system</th>
        </tr>
        <tr>
          <td width="20%" align="left"><a accesskey="p" href="syncphasor.html">Prev</a> </td>
          <th width="60%" align="center">Orchestra Opcodes and Operators</th>
          <td width="20%" align="right"> <a accesskey="n" href="tab.html">Next</a></td>
        </tr>
      </table>
      <hr />
    </div>
    <div class="refentry">
      <a id="system"></a>
      <div class="titlepage"></div>
      <a id="Indexsystem_i" class="indexterm"></a>
      <a id="Indexsystem" class="indexterm"></a>
      <div class="refnamediv">
        <h2>
          <span class="refentrytitle">system</span>
        </h2>
        <p>system — 
      Call an external program via the system call
    </p>
      </div>
      <div class="refsect1">
        <a id="idm217408"></a>
        <h2>Description</h2>
        <p>Plugin opcode in system_call.</p>
        <p>
      <span class="command"><strong>system</strong></span> and <span class="command"><strong>system_i</strong></span> call
    any external command understood by the operating system, similarly
    to the C function     system(). <span class="command"><strong>system_i</strong></span> runs
    at i-time only, while 
      <span class="command"><strong>system</strong></span> runs both at initialization and
      performance time. 
    </p>
      </div>
      <div class="refsect1">
        <a id="idm217416"></a>
        <h2>Syntax</h2>
        <pre class="synopsis">ires <span class="command"><strong>system_i</strong></span> itrig, Scmd, [inowait]</pre>
        <pre class="synopsis">kres <span class="command"><strong>system</strong></span> ktrig, Scmd, [knowait]</pre>
      </div>
      <div class="refsect1">
        <a id="idm217422"></a>
        <h2>Initialization</h2>
        <p>
      <span class="emphasis"><em>Scmd</em></span> -- command string
    </p>
        <p>
      <span class="emphasis"><em>itrig</em></span> -- if greater than zero the opcode
    executes the command; otherwise it is an null operation.
    </p>
      </div>
      <div class="refsect1">
        <a id="idm217428"></a>
        <h2>Performance</h2>
        <p>
      <span class="emphasis"><em>ktrig</em></span> -- if greater than zero and different
    from the value on the previous control cycle the opcode
    executes the command.  Initially this previous value is
    taken as zero.
    </p>
        <p>
      <span class="emphasis"><em>inowait,knowait</em></span> -- if given an non zero the 
      command is run in the background and the command does not wait
      for the result. (default = 0)
    </p>
        <p>
      <span class="emphasis"><em>ires, kres</em></span> -- the return code of the 
      command in wait mode and if the command is run.In other cases 
      returns zero.
    </p>
        <p>
      More than one system command (a script) can be executed with a single <span class="command"><strong>system</strong></span> opcode by using double braces strings {{ }}.
    </p>
        <div class="note" style="margin-left: 0.5in; margin-right: 0.5in;">
          <table border="0" summary="Note">
            <tr>
              <td rowspan="2" align="center" valign="top" width="25">
                <img alt="[Note]" src="images/note.png" />
              </td>
              <th align="left">Note</th>
            </tr>
            <tr>
              <td align="left" valign="top">
      This opcode is very system dependant, so should be used with extreme care (or not used) if platform neutrality is desired.
    </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="refsect1">
        <a id="idm217439"></a>
        <h2>Example</h2>
        <p>
      Here is an example of the system_i opcode. It uses the file <a class="ulink" href="examples/system.csd" target="_top"><em class="citetitle">system.csd</em></a>.

      </p>
        <div class="example">
          <a id="idm217444"></a>
          <p class="title">
            <strong>Example 989. Example of the system opcode.</strong>
          </p>
          <div class="example-contents">
            <p>See the sections <a class="link" href="UsingRealTime.html" title="Real-Time Audio"><em class="citetitle">Real-time Audio</em></a> and <a class="link" href="CommandFlags.html" title="Csound command line"><em class="citetitle">Command Line Flags</em></a> for more information on using command line flags.</p>
            <div class="refsect1">
              <a id="idm217451"></a>
              <pre class="programlisting">
<span class="nt">&lt;CsoundSynthesizer&gt;</span>
<span class="nt">&lt;CsOptions&gt;</span>
<span class="c1">; Select audio/midi flags here according to platform</span>
<span class="c1">; Audio out   Audio in</span>
-odac          <span class="c1">; -iadc    ;;;RT audio I/O</span>
<span class="c1">; For Non-realtime ouput leave only the line below:</span>
<span class="c1">; -o system.wav -W ;;; for file output any platform</span>
<span class="nt">&lt;/CsOptions&gt;</span>
<span class="nt">&lt;CsInstruments&gt;</span>

<span class="c1">; Initialize the global variables.</span>
<span class="vg">sr</span> <span class="o">=</span> <span class="mi">44100</span>
<span class="vg">kr</span> <span class="o">=</span> <span class="mi">4410</span>
<span class="vg">ksmps</span> <span class="o">=</span> <span class="mi">10</span>
<span class="vg">nchnls</span> <span class="o">=</span> <span class="mi">1</span>

<span class="kd">instr</span> <span class="nf">1</span>
<span class="c1">; Waits for command to execute before continuing</span>
i<span class="n">res</span> <span class="nb">system_i</span> <span class="mi">1</span><span class="p">,</span><span class="s">{{     ps
            date
            cd ~/Desktop
            pwd
            ls -l
            whois csounds.com
        }}</span>
<span class="nb">print</span> i<span class="n">res</span>
<span class="nb">turnoff</span>
<span class="kd">endin</span>

<span class="kd">instr</span> <span class="nf">2</span>
<span class="c1">; Runs command in a separate thread</span>
i<span class="n">res</span> <span class="nb">system_i</span> <span class="mi">1</span><span class="p">,</span><span class="s">{{     ps
            date
            cd ~/Desktop
            pwd
            ls -l
            whois csounds.com
        }}</span><span class="p">,</span> <span class="mi">1</span>

<span class="nb">print</span> i<span class="n">res</span>
<span class="nb">turnoff</span>
<span class="kd">endin</span>

<span class="nt">&lt;/CsInstruments&gt;</span>
<span class="nt">&lt;CsScore&gt;</span>

<span class="c1">; Play Instrument #1 for thirty seconds.</span>
<span class="nb">i</span> <span class="mi">1</span> <span class="mi">0</span> <span class="mi">1</span>
<span class="nb">i</span> <span class="mi">2</span> <span class="mi">5</span> <span class="mi">1</span>
<span class="nb">e</span>


<span class="nt">&lt;/CsScore&gt;</span>
<span class="nt">&lt;/CsoundSynthesizer&gt;</span> 
</pre>
            </div>
          </div>
        </div>
        <p><br class="example-break" />
    </p>
      </div>
      <div class="refsect1">
        <a id="idm217515"></a>
        <h2>Credits</h2>
        <p>
      </p>
        <table border="0" summary="Simple list" class="simplelist">
          <tr>
            <td>Author: John ffitch</td>
          </tr>
          <tr>
            <td>2007</td>
          </tr>
        </table>
        <p>
      </p>
        <p>New in version 5.06</p>
        <p>
    </p>
      </div>
    </div>
    <div class="navfooter">
      <hr />
      <table width="100%" summary="Navigation footer">
        <tr>
          <td width="40%" align="left"><a accesskey="p" href="syncphasor.html">Prev</a> </td>
          <td width="20%" align="center">
            <a accesskey="u" href="OpcodesTop.html">Up</a>
          </td>
          <td width="40%" align="right"> <a accesskey="n" href="tab.html">Next</a></td>
        </tr>
        <tr>
          <td width="40%" align="left" valign="top">syncphasor </td>
          <td width="20%" align="center">
            <a accesskey="h" href="index.html">Home</a>
          </td>
          <td width="40%" align="right" valign="top"> tab</td>
        </tr>
      </table>
    </div>
  </body>
</html>
